absl-py==1.3.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.1.1
asttokens==2.2.0
attrs==21.2.0
av==10.0.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.11.1
bidict==0.22.1
binaryornot==0.4.4
biosppy==1.0.0
bleach==6.0.0
bleak==0.14.2
cachetools==5.2.0
certifi==2021.5.30
cffi==1.15.1
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.4
clearml==1.10.3
click==8.0.1
colorama==0.4.6
colorlog==6.7.0
cookiecutter==1.7.3
cycler==0.11.0
dbus-next==0.2.3
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.2
dlib==19.16.0
docopt==0.6.2
easydev==0.12.1
einops==0.3.2
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.0.12
fonttools==4.38.0
fqdn==1.5.1
furl==2.1.3
future==0.18.3
google==3.0.0
google-api-core==2.10.2
google-api-python-client==2.51.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.57.0
grpcio==1.53.0
h5py==3.8.0
heartpy==1.2.7
httplib2==0.21.0
huggingface-hub==0.13.4
identify==2.2.13
idna==3.2
ignite==1.1.0
imageio==2.22.4
imageio-ffmpeg==0.4.8
iniconfig==1.1.1
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.0.1
jinja2-time==0.2.0
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
kornia==0.6.10
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.6
mediapipe==0.8.10.1
mistune==2.0.5
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.8.8
nodeenv==1.6.0
nolds==0.5.2
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
olefile==0.46
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opensignalsreader==0.2.2
orderedmultidict==1.0.1
packaging==21.0
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathlib2==2.3.7.post1
peakdetect==1.2
pexpect==4.8.0
phycv==1.2.3
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.13
platformdirs==2.3.0
pluggy==1.0.0
poyo==0.5.0
pre-commit==2.15.0
prometheus-client==0.16.0
prompt-toolkit==3.0.33
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
pyhrv==0.4.1
PyJWT==2.4.0
pyparsing==2.4.7
pyrsistent==0.19.3
pytest==7.3.0
python-dateutil==2.8.2
python-json-logger==2.0.6
python-slugify==5.0.2
pytorch-ignite==0.4.11
pytz==2022.6
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==24.0.1
regex==2023.3.23
requests==2.26.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.8.1
Send2Trash==1.8.0
shortuuid==1.0.11
six==1.16.0
sklearn==0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spectrum==0.8.1
stack-data==0.6.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==1.13.1
torch-tb-profiler==0.4.1
torchmetrics==0.11.4
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
transformers==4.28.1
typing_extensions==4.5.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.6
vformer==0.1.3
virtualenv==20.7.2
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
wrapt==1.15.0
yarg==0.1.9
